/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  font-family: "Karla", sans-serif;
  
  /* font-family: "Markazi Text", serif; */
}

#root {
  
  margin: 0 10%;  
  text-align: center;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  
  min-height: 100vh;
} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}

.header-logo > img {
  min-width: 200px;
  width: 25%;
  height: auto;
}

.menu,.cart {
  display: none;
  
}

nav ul {
  display: flex;
  
}

nav li {
  display: block;
  white-space: nowrap;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  
}


.main {
  height: 2900px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: solid #f4ce14;
  
}

.footer-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.information li {
  text-align: left;
}

.footer>.footer-logo {
  width: 15%;
  min-width: 120px;
  margin-right: 10%;
  margin-top: 1rem;
}

.footer-logo img {
  width: 100%;
}

.footer h4 {
  margin-top: 1rem;
  white-space: nowrap;
  text-align: left;
}

.footer ul {
  padding: 0;
  margin-bottom: 2rem;
}

.footer li {
  display: block;
  white-space: nowrap;
  text-align: left;
}




/* For mobile phones: */

@media screen and (max-width:1280px) {
  nav ul {
    display: none;
  }

  .menu,.cart {
    display: block;
  }

  .footer {
    flex-direction: column-reverse;
    /* justify-content: center; */
    text-align: left;
  }
}

@media screen and (max-width:900px) {
  

  .footer-information {
    flex-direction: column;
  }
}